.common-bg {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  height: 250px;
}

.containerbadge {
  padding: 2px 16px;
}

.cardbadge {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 1%;
  display: inline-block;
  text-align: center;
}

@media (max-width: 768px) {
  .cardbadge {
    width: 45%; 
  }

  .common-bg {
    height: 150px; 
  }
}
